{{ define "login" }}

    {{ template "header"}}

    <main class="px-3">
        <h1>Login page</h1>
        <form  action="/examination" method="post" class="mt-4">
            <label for="login">Логин</label>
            <input type="login" id="login" name="login" autocomplete="on">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" autocomplete="on">
            <button type="submit" name="submitBtn">Войти</button>
        </form>





        <p class="lead">
            <text>Не зарегистрирован?</text>
            <a href="/reglogin" class="btn btn-light fw-bold border-white bg-white">Зарегистрироваться</a>
        </p>
    </main>

    {{ template "footer"}}

{{ end }}