{{ define "reglogin" }}

    {{ template "header"}}

    <main class="px-3">
        <h1>Регистрация</h1>
        <form action="/save_users" method="post" >
            <label for="name">Имя</label><br>
            <input type="text" id="name" name="name"  placeholder="Введите имя" required><br>
            <label for="surname">Фамилия</label><br>
            <input type="text" id="surname" name="surname" placeholder="Введите фамилию" required><br>
            <label for="login">Логин</label><br>
            <input type="text" id="login" name="login" placeholder="Введите логин" required><br>
            <label for="password">Пароль</label><br>
            <input type="password" id="password" name="password" placeholder="Введите пароль" required><br>
            <br>
            <button type="submit" name="submitBtn">Зарегистрироваться</button>
        </form>

    </main>

    {{ template "footer"}}

{{ end }}