{{ define "create" }}

{{ template "header2"}}

<main class="px-3">
    <h1>Форма добавления заметки</h1>
    <form action="/save_article" method="post">
        <input type="text" name="title" id="title" placeholder="Введите название заметки"
        class="form-control"><br>
        <textarea name="anons" id="anons" cols="30" rows="10" class="form-control"
        placeholder="Введите анонс статьи"></textarea><br>
        <textarea name="full_text" id="full_text" cols="30" rows="10" class="form-control"
        placeholder="Введите текст статьи"></textarea><br>
        <button class="btn btn-warning">Добавить</button>
    </form>

</main>

{{ template "footer"}}

{{ end }}